name: mirrorchyan_release

on:
  workflow_dispatch:
    inputs:
        tag:
            default: ''
            required: false
  release:
    types: [released]

jobs:
  mirrorchyan:
    runs-on: macos-latest
    # Mirror酱为第三方分发服务，新项目默认关闭
    # 若有需要请联系 Mirror酱 开通，直接自行开启是无法使用的
    # https://mirrorchyan.com/
    if: ${{ github.repository_owner == 'MAA1999' }}
    strategy:
      fail-fast: false
      matrix:
        os: [win, macos, linux]
        arch: [aarch64, x86_64]
    steps:
      - uses: MirrorChyan/uploading-action@v1
        with:
          filetype: latest-release
          filename: ${{ format('M9A-{0}-{1}-*-Full*', matrix.os, matrix.arch) }}
          mirrorchyan_rid: M9A
          tag: ${{ inputs.tag }}

          os: ${{ matrix.os }}
          arch: ${{ matrix.arch }}

          owner: MAA1999
          repo: M9A
          github_token: ${{ secrets.GITHUB_TOKEN }}
          upload_token: ${{ secrets.MirrorChyanUploadToken }}